.Answer button {
    font-size: 25px;
    display: flex;
    width: 100%;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding: 8px 10px;
    color:black;
    border: 1px transparent solid;
}

.Answer button:hover {
    -webkit-tap-highlight-color: transparent;
    color:green;
    border-color:green;
}

.Answer button:active {
    -webkit-tap-highlight-color: transparent;
    color: green;
    border-color: green;
}

.Answer button:focus{
    -webkit-tap-green-color: transparent;
    color: green;
    border-color: green;
}

.Answer button span {
    padding-right: 10px;
}